body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

/* headings */
.big-heading {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

.container-fluid {
  padding: 7% 13%;
}

/* sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* navigationbar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/* download-bottom */
.download-bottom {
  margin: 5% 3% 5% 0;
}

/* üst foto */
.title-image {
  position: absolute;
  right: 30%;
  top: 10%;
  transform: rotate(25deg);
  width: 60%;
}

/* ikinci section challenge */
#features {
  background: white;
  position: relative;
}

.div-1 {
  padding: 5%;
}

.i-1 {
  color: #ef8172;
  padding-bottom: 1rem;
}

.i-1:hover {
  color: #ff4c68;
}

/* testimonial section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

/* press section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-image {
  margin: 20px 20px 50px;
  width: 15%;
}

/* pricing section */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width:991px) {
  h2 {
    font-size: 1.5rem;
  }

  #title .container-fluid {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* cta section */
/* footer */
.footer-icon {
  margin: 20px 10px;
}
